.header img{
    height:80px;
}
.header{
    text-align: center;
    
}
.login-btn{
    background-color: #DAA520!important;
    color: rgb(34, 31, 31)!important;
    margin-top: -8px;
    padding:10px 15px;
}

.logout-btn {
    background-color: #DAA520!important;
    color: rgb(34, 31, 31)!important;
    padding:10px 15px;
}
.logout-btn:hover, .login-btn:hover{
    background-color: #DAA520!important;
}
.header nav{
    background-color: #000;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    color:#fff;
    margin-right: 20px;
    padding:10px;
}
nav a:hover{
    background-color: gray;
    color:black;
}
.header div{
    background-color: #000;
    padding: 20px 0;
    height: auto;
}
.header input{
    width:70%;
    height:40px;
}
.myCart{
    color:#fff;
    display:inline-block;
    margin-left:5px;
}